{{ define "main" }}
  <div class="container">
    <div class="row">
       {{.Content}}
       {{ range .Pages }}
            <div class="col-md-6 col-lg-4">
              <div class="card p-3 mb-4">
                <img class="card-img-top" src="http://placehold.it/300x300" alt="Card image cap">
                <div class="card-body">
                  <h2 class="h4 card-title">{{.Title}}</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{{.URL}}" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
       {{ end }}
    </div>
  </div>
{{ end }}
