// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  body{
    background: #f5f5f5;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { /* */ }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { /* */ }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { /* */ }


.guides, .brands{ /* Let's add margin-top to these page identifiers */
    margin-top: 1.5em;
}
.author{
  margin-top: 1em;
}
.featured-img{
  margin-top: 1em;
}

.date{
  color: #999;
  font-weight: lighter;
}

.description{
  max-width: 25em;
}

.feed{
  max-width: 1460px;
}

.feed-item{
}

.feed-title{
  color: #000;
  font-weight: bold;
  line-height: 1.6;
}

.feed-date{
  margin-bottom: .6em;
}

.brand-header{
  padding-top: 2em;
  padding-bottom: .5em
}

.brand-container{
  border-top: 1px solid rgba(255,255,255,0.1);
}

.brand-avatar{
  max-height: 3.5rem;
  /* margin: .5rem .5rem .5rem 0; */
}

@media (min-width: 576px) {
  .brand-avatar{
    /*margin: 1rem 1rem 1rem 0;*/

  }
}

.sidebar{

}

.sidebar-inner{
  background: #fff;
}

.h-entry{
}

.h-entry h3{
  font-size: 1.5em;
}

.single-brand_wrapper{
  /*background: white;*/
}

.max-width{
  max-width: 1400px;
}
.carousel-indicators{
  bottom: 0;
}
.carousel-indicators li {
  background-color: rgba(150,150,150,0.1);
}
.carousel-indicators .active {
  background-color: rgba(150,150,150,0.4);
}

@media (min-width: 100px){
  .modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  .modal-large{
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin: 0;
  }
  .modal-content{
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
  }
  .modal-body{
    padding: 0;
    position: relative;
  }

  iframe{
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

}

.brand-table{}

.brand-table tr td:first-of-type{
  //text-transform: capitalize;
}

.debug > * {
  border: 1px solid red;
}

.debug > * > *{
  border: 1px solid blue;
}

.debug > * > * > *{
  border: 1px solid green;
}

.debug > * > * > * > *{
  border: 1px solid purple;
}

.debug > * > * > * > * > *{
  border: 1px solid orange;
}

.debug > * > * > * > * > * > *{
  border: 1px solid pink;
}

.debug > * > * > * > * > * > * > *{
  border: 1px solid red;
}

.debug > * > * > * > * > * > * > * > *{
  border: 1px solid blue;
}

iframe{
  border: 0;
}
