{{ define "main" }}
<div class="container-fluid bg-dark brand-header" style="background: url('https://images.weedmaps.com/brands/000/000/200/desktop_hero/large/alpine-vapor_hero_2.jpg'); background-size: cover;">
  <div class="row align-items-center">
    <div class="col-7">
      <h1 class="h6 text-light mb-0">{{.Title}}</h1>
      <small class="text-light">Los Angeles, Ca</small>
    </div>
    <div class="col-5 text-right">
      <a href="#" class="btn btn-light" data-toggle="tooltip" data-placement="left" title="Prices will vary">$35-60</a>
    </div>
  </div>
</div>
<div class="container-fluid" style="max-width: 600px;">
  <div class="nav-tabs-wrapper mt-3">
    <ul class="nav nav-tabs dragscroll horizontal" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#about" role="tab" aria-controls="home" aria-selected="true">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="products" aria-selected="false">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="videos-tab" data-toggle="tab" href="#videos" role="tab" aria-controls="videos" aria-selected="false">Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="false">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="social-tab" data-toggle="tab" href="#social" role="tab" aria-controls="social" aria-selected="false">Social</a>
      </li>
    </ul>
  </div>
  <span class="nav-tabs-wrapper-border mb-3" role="presentation"></span>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">

      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Website
          <span class="badge badge-pill"><a target="_blank" href="{{ .Params.website }}">🌐 {{ .Params.website }}</a></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Sizes
          <div>
            {{ range .Params.sizes }}
              <span class="badge badge-primary badge-pill">{{ . }}</span>
            {{ end }}

          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Availability
          <div>
            {{ range .Params.availability }}
                <span class="badge badge-light badge-pill text-muted">{{ . }}</span>
            {{ end }}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Purchase
          <div>
            <span class="badge badge-pill">📍 Nearby</span>
            <span class="badge badge-pill">🛒 Online</span>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Battery ⚡️
          <span class="badge badge-pill">{{ .Params.battery }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Coil
          <span class="badge badge-pill">{{ .Params.coil }}</span>
        </li>

      </ul>
      <div class="offer rounded bg-dark mb-3 p-4 text-light position-relative"
      style="background: url('https://www.transparenttextures.com/patterns/bright-squares.png'); background-size: cover;">
        <button type="button" class="close position-absolute" style="top:1px; right: 6px;" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h2 class="h5">{{ .Title }}</h2>
            <p class="m-0">Giveaway!</p>
          </div>
          <div>
            <a href="#" class="btn btn-primary">Sign Up</a>
          </div>
        </div>
      </div>

      <div id="accordion" role="tablist">
        <div class="card mb-3">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Our Mission
              </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Our Method
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Quality & Safety
              </a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="videos" role="tabpanel" aria-labelledby="videos-tab">
      <div class="video">
         <div class="embed-responsive embed-responsive-16by9 yt-player">
           <iframe id="yt" src="https://www.youtube-nocookie.com/embed/{{ .Params.youtube }}?rel=0&enablejsapi=1" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
         </div>
         <div class="row">
           {{ range $playlist, $video := .Params.yt_playlist }}
           <div class="col-6 mt-4">
             <div data-youtube="{{ $video }}">
               <img src="https://img.youtube.com/vi/{{ $video }}/0.jpg" class="img-fluid">
             </div>
           </div>
           {{ end }}
         </div> <!-- end .row -->
      </div> <!-- end .video -->
    </div>

    <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products-tab">
      <img class="img-fluid" src="{{ $.Param "productslider.1" }}" alt="">

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Northern Lights Live Resin
          <span class="badge badge-primary badge-pill">New</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Super Silver Haze Live Resin
          <span class="badge badge-info badge-pill">Indica</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Jack Herer Live Resin
          <span class="badge badge-danger badge-pill">Exclusive</span>
        </li>
      </ul>
    </div>

    <div class="tab-pane fade" id="order" role="tabpanel" aria-labelledby="order-tab">
      <a href="#" class="btn btn-primary btn-block mb-3">Order Online</a>
      <a href="#" class="btn btn-primary btn-block">Purchase Nearby</a>
    </div>

    <div class="tab-pane fade" id="social" role="tabpanel" aria-labelledby="social-tab">
      {{ $gistJ := getJSON "https://instagram.com/cartgasm/?__a=1" }}

      <div class="card">
        <img class="d-none card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <div class="media mb-3">
            <img class="mr-3 img-fluid" style="width: 30%" src="{{ print $gistJ.user.profile_pic_url }}" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="card-title mt-0">@{{ print $gistJ.user.username }}</h5>
              <p class="card-text">➡️ {{ print $gistJ.user.followed_by.count }} ⬅️ {{ print $gistJ.user.follows.count }}</p>
            </div>
          </div>
          <p class="card-text instagram-bio">{{ print $gistJ.user.biography }}</p>
          <div class="row">
            {{ range $gistJ.user.media.nodes }}
              <div class="col-4 mb-4">
                <img class="img-fluid" src="{{ .thumbnail_src }}">
              </div>
            {{end }}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<script>
$(function() {
   //$('#purchase-nearby').on('show.bs.modal', function (e) {
     //var iframe = '<iframe id="youtube" width="100%" height="100%" frameborder="0" src="https://weedmaps.com/brands/{{ .Params.weedmaps_slug }}/map"></iframe>';
     //$(".weedmaps-wrapper").html(iframe);
   //})

   //$('#video-tab').on('hidden.bs.tab', function () {
     //player.pauseVideo()
   //});

   var tag = document.createElement('script');
   tag.id = 'iframe-demo';
   tag.src = 'https://www.youtube.com/iframe_api';
   var firstScriptTag = document.getElementsByTagName('script')[0];
   firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

   var player;
   function onYouTubeIframeAPIReady() {
     player = new YT.Player('yt', {
     });
   }

   $('[data-youtube]').click(function () {
     var id = $(this).attr('data-youtube');
     var src = 'https://www.youtube.com/embed/'+ id +'?rel=0&amp;autoplay=1&amp;showinfo=1&amp;enablejsapi=1';
     $('#yt').attr('src',src);
     console.log('yt change');
   });

   $(document).bind('keydown', 'x', function() {
     $('body').toggleClass("debug");
   });
   $('[data-toggle="tooltip"]').tooltip()


    $( "button.close" ).click(function() {
      $( this ).parent().remove();
      console.log('removed')
    });
 });

</script>

{{ end }}
