// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  body{
    background: #f5f5f5;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { /* */ }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { /* */ }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { /* */ }


.guides, .brands{ /* Let's add margin-top to these page identifiers */
    margin-top: 1.5em;
}
.author{
  margin-top: 1em;
}
.featured-img{
  margin-top: 1em;
}

.date{
  color: #999;
  font-weight: lighter;
}

.description{
  max-width: 25em;
}

.feed{
  max-width: 1460px;
}

.feed-item{
}

.feed-title{
  color: #000;
  font-weight: bold;
  line-height: 1.6;
}

.feed-date{
  margin-bottom: .6em;
}

.brand-header{
  padding-top: 2em;
  padding-bottom: .5em;
  position: relative;
}

.brand-header:before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(0deg, rgba(0,20,0,.8), 45%, rgba(255,255,255,0));
	opacity: .6;
}

.brand-container{
  border-top: 1px solid rgba(255,255,255,0.1);
}

.brand-avatar{
  max-height: 3.5rem;
  /* margin: .5rem .5rem .5rem 0; */
}

@media (min-width: 576px) {
  .brand-avatar{
    /*margin: 1rem 1rem 1rem 0;*/

  }
}
.caption{
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  font-size: 11px;
  padding: 1em;
  white-space:
  pre-wrap;
  display: none;
  overflow: hidden;
}

.btn-price{
  background: transparent;
  border: 1px solid #fff;
}

.ig-image:hover .caption{
  /*display: block;*/
}

.instagram-bio{
  white-space: pre-wrap;
}

.sidebar{

}

.sidebar-inner{
  background: #fff;
}

.h-entry{
}

.h-entry h3{
  font-size: 1.5em;
}

.single-brand_wrapper{
  /*background: white;*/
}

.max-width{
  max-width: 1400px;
}
.carousel-indicators{
  bottom: 0;
}
.carousel-indicators li {
  background-color: rgba(150,150,150,0.1);
}
.carousel-indicators .active {
  background-color: rgba(150,150,150,0.4);
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ddd' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ddd' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}



@media (min-width: 100px){
  .weedmaps-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  .weedmaps-modal .modal-header{

  }
  .weedmaps-modal .modal-large{
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin: 0;
  }
  .weedmaps-modal .modal-content{
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
  }
  .weedmaps-modal .modal-body{
    padding: 0;
    position: relative;
  }

  .weedmaps-modal iframe{
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

}

.brand-table{}

.brand-table tr td:first-of-type{
  //text-transform: capitalize;
}

.debug > * {
  border: 1px solid red;
}

.debug > * > *{
  border: 1px solid blue;
}

.debug > * > * > *{
  border: 1px solid green;
}

.debug > * > * > * > *{
  border: 1px solid purple;
}

.debug > * > * > * > * > *{
  border: 1px solid orange;
}

.debug > * > * > * > * > * > *{
  border: 1px solid pink;
}

.debug > * > * > * > * > * > * > *{
  border: 1px solid red;
}

.debug > * > * > * > * > * > * > * > *{
  border: 1px solid blue;
}

iframe{
  border: 0;
}

/* swipeable nav links */
.brand-navigation{
  margin-left: -15px;
  margin-right: -15px;
}


.nav-tabs-wrapper {
  display: block;
  overflow: hidden;
  /** 1.5 is font-size, 1 is padding top and bottom, 2 is border width top and bottom */
  position: relative;
  z-index: 1;
}

.nav-tabs-wrapper:before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 1;
	background-image: linear-gradient(-90deg, rgba(255,255,255,1), 50%, rgba(255,255,255,0));
	opacity: 1;
  width: 80px;
  pointer-events: none;
}

.nav-tabs-wrapper .nav-tabs {
  overflow-x: auto;
  margin-top: 1px;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.nav-tabs-wrapper .dragscroll:active,
.nav-tabs-wrapper .dragscroll:active a {
  cursor: -webkit-grabbing;
}

.nav-tabs-wrapper {
  display: block;
  overflow: hidden;
  height: calc(1.5rem + 1.5rem + 2px);
  /** 1.5 is font-size, 1 is padding top and bottom, 2 is border width top and bottom */
  position: relative;
  z-index: 1;
  margin-bottom: -1px;
}
.nav-tabs-wrapper .nav-tabs {
  overflow-x: auto;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  border-bottom: 0;
}
.nav-tabs-wrapper .nav-item {
  margin-bottom: 0;
}
.nav-tabs-wrapper .nav-item:first-child {
  padding-left: 15px;
}
.nav-tabs-wrapper .nav-item:last-child {
  padding-right: 15px;
}
.nav-tabs-wrapper .nav-link {
  white-space: nowrap;
}
.nav-tabs-wrapper .dragscroll:active,
.nav-tabs-wrapper .dragscroll:active a {
  cursor: -webkit-grabbing;
}

.nav-tabs-wrapper-border {
  display: block;
  width: 100%;
  border-top: 1px solid #ddd;
}


.tab-pane h2 {
  font-size: 1.4em;
}

.tab-pane h3{
  font-size: 1.2em;
}
